/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*index file===================================================================*/
/*.navbar {*/
  /*margin-bottom: 2.5rem;*/
  /*padding-top: 2em;
  padding-bottom: 2em;
}*/

nav{
  width:100%;
}
nav .certificat{
  width: 1rem;
  margin-top: 0;
}
/*flexbox=======================================================================*/
nav,footer ul{
  display: flex;
  justify-content: space-around;

}
nav,ul{
  flex-grow: 1;
}
/*pseudo classes================================================================*/
a:hover{
  text-align: justify;
  font-size: 30px;
  color: gold;
  padding-bottom: 40px;
  padding-left: 17%;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}/*First line: 0=right shadow, 1=bottom,0=bluring and #ccc=color (the last 2 are optional parameters).
One line is ok but putting more you have more effect, and it applied front to back:fisrt values defined is the first line.*/


p,li,a{
  font-size: 1.2rem;
}
li{
  list-style: none;
    color: mediumvioletred;
}
a{
    color: orangered;
}
section{
      font-weight: bold;
      margin:7% auto 0 auto;
}
section,.container{
  text-align: center;
  color:mediumvioletred;
    Width:80%;
    text-align: center;
}
.size{
  font-size: 3rem;
  font-weight: bold;
  color: yellow;
}


.slogan{
  font-family: Lucida,Arial,sans-serif;
  font-size: 2.5rem;
}
#bgvid {
   position: absolute;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   background-size: cover;

}



.container .avatar{
  border-radius: 20%;
  width: 40%;
}
/*carousel======================================================================*/
.carousel-inner img {
  max-height: 10%;
  width: 8%;
}

/*footer========================================================================*/
}
footer{
  margin-top: 0;
  background-color: #f3f3f3;
}

footer .flash{
  color:royalblue;
}

/*formulaire====================================================================*/
.info{
  border: 4px solid black;
  background-color: turquoise;
  padding-bottom: 10px;
  text-align: center;
}
.button{
  background-color: deepskyblue;
}


/*                             RESPONSIVE                                      */
/*******************************************************************************/
/*******************************************************************************/

@media screnn and (min-width: 1100px) {

  .wrapper {
    margin: 25% 10% 0% 25%;
  }


}

/* ##################################################################### */
/* ##########################   SMARTPHONE   ########################### */
/* ##################################################################### */
/* Extra small devices (phones, less than 768px) */



/* ##################################################################### */
/* ############################   TABLETS   ############################ */
/* ##################################################################### */
/* Small devices (tablets, 768px and up) */
   @media (min-width: 768px) {
     .wrap{
       min-height:100vh;


     }
     .wrapper {
       margin-top: 10%;
     }
   }


/* ##################################################################### */
/* ############################   DESKTOPS   ########################### */
/* ##################################################################### */
/* Medium devices (desktops, 992px and up) */
   @media (min-width: 992px) {
     .wrapper {
       margin-top: 18%;
     }

   }

/* ##################################################################### */
/* ########################   LARGE DESKTOPS   ######################### */
/* ##################################################################### */
/* Large devices (large desktops, 1200px and up) */
   @media (min-width: 1200px) {
     .wrapper {
       margin: 5% 5% 0;
     }

   }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
